$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

$themeColor: #77C1C5;
$themeTrans: rgba(119, 193, 197, 0.6);
$themeTrans3: rgba(119, 193, 197, 0.3);
$themeBold: rgb(158, 205, 160);
$themeLight: #6AD4DD;

$greyColor: #e0e0e0;
$greyColor2: #949494;
$greyNoraml: #c1c1c1;
$greyTrans: rgba(224, 224, 224, 0.6);

$darkGreen: rgb(76 109 77);
$qingGreen: rgba(90, 209, 205, 0.6)

// #F8F6E3
// #97E7E1
// #6AD4DD
// #7AA2E3